.space {
    margin: 10px 0;
}

li { cursor: pointer; }

.btn { cursor: pointer; }

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

 .cell-totals {
      margin: 5px;
      text-align: center;
    }
    .badge {
      margin-right: 5px;
    }


  mwl-calendar-day-view {
     
        overflow:hidden;
    
    }